:root{
  --colorLetras: chartreuse;
}

/*tamaño del body*/
body {
  display: inline-block;
  width: 100%;
  padding: 0px;
  margin: 0px;
  font-family: 'Montserrat', sans-serif;
  border: px solid #000;
  height: 1000px;
  background: #CAF1FE;
}

header {
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    padding-top: 30px;
    border: px solid #000;
    height: 200px;
  background: #091A2E;
}

/*ubicacion del nombre de la liga*/
header a {
  color: var(--colorLetras);
  display: inline-block;
  position: relative;
  float: top;
  padding-top: 25px;
  margin: 10px;
  font-size: 50px;
  z-index: 300;
}

/*ubicacion del logo de la liga*/
header img {
  display: inline;
  width: 150px;
  height: 150px;
  top: 310px;
  right: 690px;
  float: left;
  z-index: 300;
  margin-left: 20px;
}

/*contenedor de los titulos de cada pagina*/
#titulo {
  display: inline;
  width: 4px;
  margin-left: 5px;
}

/*ubicacion del contenedor del titulo de cada pagina*/
#titulo h1 {
  display: inline-block;
  position: relative;
  text-align: center;
  width: 100%;
  border: px solid #000;
  top: 25px;
  z-index: 300;
}

/*contenedor del nav*/
div nav {
  display: block;
  position: absolute;
  background: #043949;
  text-align: center;
  width: 100%;
  top: 200px;
  border: 0px solid #000;
  height: 35px;
  padding: px;
  z-index: 300;
  margin: 0px;
}

/*ubicacion de cada link del nav*/
nav a {
  color: var(--colorLetras);
  font-size: 25px;
  display: inline-block;
  position: relative;
  text-align: center;
  margin-left: 95px;
}

/*contenedor de la informacion principal de cada pagina*/
section {
  position: absolute;
  display: block;
  border: px solid #000;
  width: 100%;
  height: 310px;
  left: px;
  padding-left: 30px;
  top: 330px
}

div #fechas {
  display: block;
}

h2 {
  display: inline-block;
  margin: 2px;
  padding: 3px;
  font-size: 30px;
}

 #titulosabout1 {
   width: 30%;
  display: block;
  margin: 2px;
  padding: 3px;
  font-size: 30px;
}

 #titulosabout2 {
   width: 30%;
  display: block;
  margin: 2px;
  padding: 3px;
  font-size: 30px;
}

 #titulosabout3 {
   width: 30%;
  display: block;
  margin: 2px;
  padding: 3px;
  font-size: 30px;
}

section img {
  display: inline;
  width: 20px;
}

/*parrafos del Home*/
p {
  display: inline-block;
  font-size: 20px
}

/*forma de cada parrafo de la pagina about*/
 .textos {
   width: 80%;
  display: block;
  font-size: 17px;
  margin: 2px;
  padding: 1px;
}

/*forma de los textos de la pagina contact*/
address p {
  font-size: 30px;
  width: 550px;
  display: block;
  padding: 40px;
  margin-left: 300px;
}

table.partidos {
  border: 0px solid black;
  margin-left: 300px;
}
table.ubicaciones {
  border: 0px solid black;
  margin-left: 270px;
}

th{
  width: 170px;
}
td{
  padding-left: 64px;
}
td.fecha{
  padding-left: 65px;
}
td.lugar{
  width: 130px;
  padding-left: 50px;
}
h3{
  display: inline;
  margin-left: 130px;
}
.reglas{
  display: inline-block;
  width: 100%;
  text-align: center;
  padding: 2px;
  text-decoration: underline;
  font-size: 20px;
}
.datos{
  display: inline-block;
  width: 600px;
  padding: 30px;
}
footer{
  background: #043949;
  color: azure;
}
li,p{
  font-size: 16px;
}

/*Css del form*/
form h2{
  display: block;
  font-size: 24px;
  margin-left: 5%;
    padding: 0px;
}
form div{
  margin-top: 15px;
}

form p.permision{
  margin-left: 5%;
}

div.primero{
  display: block;
  margin-left: 5%;
}
.primero input{
  width: 35%
}
.primero p{
  display: inline;
}

div.segundo{
  display: block;
  margin-left: 5%;
}

.segundo p{
  display: inline-block;
}
.segundo input{
  display: inline-block;
  width: 80%
}

div.tercero{
  display: block;
  margin-left: 5%;
}
.tercero input{
  width: 40%
}
.tercero p{
  display: inline
}

div.cuarto{
  display: inline-block;
  margin-left: 5%;
  width: 50%
}
.cuarto input{
  width: 70%
}

div.quinto{
  display: block;
  margin-left: 5%;
}

.quinto p{
  display: inline-block;
}
.quinto input{
  display: inline-block;
  margin-left: 20px;
}

form h3{
  display: inline-block;
  width: 40%;
  font-size: 16px;
  margin-left: 5%;
}

/* css para los select del form*/
div.selectOptions{
  display: inline;
  margin-left: 5%;
}

#permission_to_play{
  text-decoration: underline;
}

div.sexto{
  display: inline-block;
  margin-left: 5%;
  width: 75%
}
div.sexto input{
  width: 37%
}

#registration a{
  font-size: 25px;
  position: absolute;
  top: 0px;
  left: 89%
}

select, #haveUniform, #position h2 {
    display: inline;
}

legend {
    text-align: center;
    font-size: 30px;
}